src/_ReSharper.MultipleQueueListener
src/MultipleQueueListener/obj

src/MultipleQueueListener.Interfaces/obj

src/MultipleQueueListener.Queues/obj

src/MultipleQueueListener.suo

src/MultipleQueueListener.sln.docstates.suo